@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
  padding: 0;
}

img {
  margin-top: 30px;
  width: 200px;
  height: auto;
}

img:hover {
  cursor: pointer;
}

.box {
  text-align: center;
  width: 33.3%;
  height: 280px;
  border: 10px solid;
}

.box:hover {
  cursor: pointer;
}

.btn-lg {
  width: 300px;
  height: 100px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

.reset-buttons {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: -webkit-center;
}

.start-buttons {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: -webkit-center;
}

.tic-tac-toe {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.tic-tac-toe h1 {
  display: inline-flex;
  font-family: 'Poiret One', cursive;
  font-size: 250px;
}

#game-board {
  display: none;
  flex-flow: row wrap;
}

#start-solo {
  margin-top: 30px;
}

#waiting-screen {
  font-size: 100px;
  text-align: center;
}

#win-screen {
  z-index: 9;
  font-size: 100px;
  text-align: center;
}

/*////////////////////////////////////////////////////////////////////////////
////////////////////////// MOBILE /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  img {
    margin-top: 70px;
    width: 85px;
    height: auto;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  img {
    margin-top: 50px;
    width: 150px;
    height: auto;
  }
}
